[Desktop Entry]
Name=Niri
Comment=A scrollable-tiling Wayland compositor
Exec=sh -c "exec niri-session >/dev/null 2>&1"
Type=Application
DesktopNames=niri
